.wd-grid-container {
   display: grid;
   height: 60px;
   position: relative;
   width: 600px;
   grid-template-columns: repeat(1, 1fr);
   grid-gap: 0px;
   margin: 0px;
}

.wd-post-container {
   display: grid;
   height: 600px;
   position: relative;
   width: 600px;
   grid-template-columns: repeat(1, 1fr);
   grid-gap: 0px;
}

.wd-avatar-container {
   background-color: rgb(0, 0, 0);
   text-align: left;
   position: relative;
   left: 16px;
   height: 48px;
   width: 48px
}

.wd-author-container {
   background-color: rgb(0, 0, 0);
   text-align: left;
   position: absolute;
   left: 64px;
   top: 0px;
   height: 24px;
   width: 360px;
   display: flex;
}

.wd-tweet-container {
   background-color: rgb(0, 0, 0);
   text-align: left;
   position: relative;
   left: 76px;
   top: -20px;
   height: 80px;
   width: 500px;
   display: flex;
}

.wd-news-container {
   background-color: rgb(0, 0, 0);
   text-align: left;
   position: relative;
   left: 76px;
   top: -8px;
   /* height: 264px; */
   border: 1px solid rgb(147, 145, 145);
   border-radius: 20px;
   margin: 0px;
   width: 506px;
   padding-bottom: 10px;
}

.wd-title-container {
   background-color: rgb(0, 0, 0);
   text-align: left;
   position: relative;
   left: 76px;
   top: 0px;
   height: 65px;
   width: 506px;
}

.wd-icon-container {
   background-color: rgb(0, 0, 0);
   display: flex;
   flex-direction: row;
   position: relative;
   left: 76px;
   width: 520px;
}

.wd-icons2 {
   text-decoration: none;
   width: 50%;
   display: flex;
   align-items: center;
   padding-left: 20px;
   padding-right: 20px
}

.border-ones {
   border-radius: 1px;
   color: #ffffff;
}

p4 {
   font-size: small;
}

.wd-icons1 {
   display: flex;
   /* justify-content: space-between; */
   width: 50%;
   position: relative;
   align-items: center;

}

p {
   color: aliceblue;
   padding-right: 40px;
}

.wd-tweet-font {
   color: rgb(255, 255, 255);
   font-family: Helvetica;
   font-size: 15px;
   text-align: left;
}

.wd-author-font {
   color: rgb(255, 255, 255);
   font-family: Helvetica;
   font-size: 15px;
   text-align: left;
   padding-left: 12px;
   padding-top: 12px;
}

.wd-handle-font {
   color: rgb(110, 118, 125);
   font-family: Helvetica;
   font-size: 15px;
   padding-left: 4px;
   padding-top: 12px;
}

.wd-headline-font {
   color: rgb(255, 255, 255);
   font-family: Helvetica;
   font-size: 15px;
   text-align: left;
   padding-left: 12px;
   padding-right: 12px;
}

.wd-news-font {
   color: rgb(110, 118, 125);
   font-family: Helvetica;
   font-size: 15px;
   text-align: left;
   padding-left: 12px;
   padding-right: 12px;
}

.wd-grid-item {
   background-color: rgb(0, 0, 0);
   border: 1px solid black;
   text-align: left;
   position: relative;

}

.wd-hr1 {
   margin-top: -2px;
   height: 1px;
   background-color: rgb(110, 118, 125);
   border: none;
}

.wd-hr2 {
   margin-top: 10px;
   height: 1px;
   background-color: rgb(110, 118, 125);
   border: none;
}

.highlighted-link {
   height: 3px;
   width: 35px;
   margin-top: -3px;
   margin-left: 16px;
   padding-left: 16px;
   background-color: rgb(29, 161, 242);
   border: none;
}

.wd-bookmark-font {
   color: rgb(255, 255, 255);
   font-family: Helvetica;
   font-weight: bold;
   font-size: 20px;
   position: relative;
   left: 16px;
   top: 12px;
}

.wd-user-font {
   color: rgb(110, 118, 125);
   font-family: Helvetica;
   font-size: 13px;
   position: relative;
   left: 16px;
   top: 12px
}

.wd-avatar-img {
   vertical-align: middle;
   width: 48px;
   height: 48px;
   border-radius: 50%;
}

.wd-news-img {
   vertical-align: middle;
   width: 504px;
   height: 264px;
   border-radius: 30px 30px 0px 0px;
}
